# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.aspnetrun-microservices.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Documents\Projects\DotNet\Tutorials\AspnetMicroservices\src\.idea\.idea.aspnetrun-microservices\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
